#nav {
  width: 100vw;
  max-width: 100%;
}
.nav-link {
  color: white !important;
}

.navbar-light .navbar-toggler {
   border-color: rgba(255,255,255,.1) !important;
}
.navbar-light .navbar-toggler-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#popup {
  width: 50% !important;
  left: 0;
  top: -5rem;
  margin-top: 20%;
  margin-bottom: auto;
  margin-left: auto;
  height: auto !important;
}

.modal.show .modal-dialog{
  height: 100%;
}
.modal-content {
  height: 100%;
}
.backbtn {
  height: 100%;
  width: 100%;
}

.backcontainer {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: .5rem;
  margin-top: .5rem;
  padding: .3rem;
}
.backcontainer:hover {
  background-color: rgba(0,0,0,.1);
}

.dbstats {
  width: 40%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
}

.edit-button {
  width: 1.5rem;
  height: auto;
  position: absolute;
  top: .7rem;
  right: 0;
  cursor: pointer;
}

.edit-container{
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.switch-button{
  width: 50%;
  display: inline-block;
}