.container{
  height: 100vh;
}

.link, .link:hover {
  text-decoration: none;
  color: black !important;
  width: 100%;
  display: block;
  padding-left: 1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
}
.nav-link {
  color: black !important;
}

.dropdown-item {
  padding-right: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}