.window {
  font-size: 14px;
  margin: 5px;
}

.info {
  color: black;
}
.gm-style .gm-style-iw-d {
  overflow-x: hidden;
}

.windowContainer {
  font-size: 14px;
  margin: 5px;
  height: 400px;
  width: 350px;
}

.rotate {
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  right: 17%;
  top: 12%;
  border-style: solid;
  border-width: .1rem;
  border: black;
  z-index: 2;
}

.image {
  height: 100%;
}
.imageContainer {
  justify-content: center;
  margin-top: -50px;
  height: 10rem;
}

.clusterInfo {
  position: absolute;
  top: 12%;
  right: 0;
  z-index: 5;
  height: 88%;
  width: 17rem;
  background-color: green;
}