.mainView {
  margin-top:13vh;
}
.buttonContainer {
  width: 100%;
  display: block;
  margin:auto;
}

 .aModal {
   width: 80vw !important;
   max-width: 80vw !important;
   max-height: 90vh !important;
 }

 .modal-content {
   max-height: 90vh !important;
 }
 #contained-modal-title-vcenter{
   text-transform: capitalize;
 }
 #tRow {
   text-transform: capitalize;
 }

 .vl {
  border-left: 2px solid grey;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.profilePicContainer {
  width: 30%;
  height: 50%;
}
.profilePic { 
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  transform: rotate(90deg);
}

.sideButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.timeHeadText {
  display: inline-block;
  text-align: center;
}

#me_id {
  position: absolute;
  z-index: 5;
  background-color: aqua;
  display: flex;
}

#me_id .me {
  align-self:center;
  text-align:center;
  width:100%;
  white-space: nowrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}